/*---------------
 fonts connection
 ---------------- */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*---------------
  Global styles 
----------------*/
body{
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/*----------------
Top players styles 
------------------*/
.container{
    width: 870px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    margin-top: 21px;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    margin-top: 3px;
    font-size: 24px;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    gap: 16px;
    align-items: center;
}
.player img{
    width: 56px;
}
.player .player-name{
    font-size: 18px;
}
/*----------------
Top blogs styles 
------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 40px;
}
.blog{
    display: flex;
    gap: 16px;
}
.blog img{
    width: 177px;
}
.blog-info .blog-title{
    font-size: 20px;
}
.blog-info .blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}
/*----------------
Latest courses styles 
------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course{
    width: 240px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 8px;
}
.course img{
    width: 224px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-rating{
    display: flex;
    align-items: center;
    gap: 3.5px;
    color: #FFC014;
    width: 12.4px;
}
.course-rating > p{
    margin-left: 6px;
    color: #A2A2A2;
    font-size: 14px;
}
.course-duration{
    width: 94px;
    height: 29px;
    background: #FFE4E8;
    border-radius: 14.6913px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #FF4A60;
}